{% extends "oplan/header.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Gib hier die E-Mail-Adresse ein, mit der du dich in der KIF-Anmeldung und/oder im Engelsystem registriert hast.
Du bekommst dann per Mail einen Link mit einem Token zugeschickt, unter dem du ein neues Passwort festlegen kannst.</p>

<p>Falls etwas nicht funktioniert, wende dich bitte an <a href="mailto:kif-ir@d120.de">kif-ir@d120.de</a>.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label>
     {{ form.email }}</p>
     <p> <input type="submit" value="Reset password" /></p>
</form>

<p><a href="/login">Falls du dein Passwort kennst, klicke hier, um dich einzuloggen.</a></p>
<style>
label {display:block;font-weight:bold;padding: 2px 0 5px;}
#id_email{width:90%;max-width:300px;}
</style>
{% endblock %}