.padding-top-1 { padding-top: 1rem; }

#header{background:#444;padding:0 40px;color:#eee;min-height:60px; }
#header #branding h1 { margin:0 10px 0 0; padding: 10px 0; font-size: 12pt; font-weight: bold; color: white; }
#header #branding h1 a { color: white; text-decoration: none; }
#header #user-tools { padding: 10px 0; height: 100%; }
#header a.ml, #header div.ml {margin:0 ; padding: 10px 15px; display:block;float:left;color:#ffffff;font-weight:bold;text-decoration:none;}
#header div.ml { cursor: default; }
#header a.ml:hover, #header div.ml:hover { text-decoration:none; background-color: #777; color: #fff; }

#content{padding-bottom: 0;}
#footer{padding:0;}

.breadcrumbs h3 { display: inline-block; margin: 0 20px 0 0; color: white; font-size: 12pt; }
.breadcrumbs .toolbar { display: inline-block; color: #ffffff; }

.messageBar { position: fixed; top: 0; left: 0; right: 0; padding: 10px; background: #FDD835; color: white; font-size: 12pt; z-index: 100;
	    }
.progressBar { position: fixed; top: 0; left: 0; width: 30%; height: 5px; background: #0091EA; z-index: 101;
	      animation: slide 5s forwards;
}
@keyframes slide {
    0% { width: 30%; }
    30% { width: 50%; }
    100% { width: 60%; }
}
.messageBar.error { background: #E53935;  }
.messageBar.success { background: #43a047;  }

.menudropdown { position: absolute; background: #000; z-index: 9001; min-width: 200px; }
.menudropdown a { display:block; margin: 0; padding: 5px; }
.menudropdown a:hover { background: #555; }
.menudropdown a.ed { float:right;font-weight:normal;display:inline; color:white;}

#unsched_aktermine { display: none; }
.mode_aktermin #unsched_aktermine { position: absolute; right:10px; width: 170px; display: block; }
#unsched_aktermine .fc-event { margin: 5px 0; }

.mode_aktermin .calendar_content { margin-right: 170px; }

.beamer .calendar_content { margin-right: 0; }
.beamer .fc-toolbar { display: none; }

.ddmenu { position: absolute; font-weight: normal; display: none; border: 1px solid #ddd; overflow-y: auto;  box-shadow: 1px 1px 6px #999; background: white; padding: 5px 0; min-width: 200px; z-index: 12; }
.ddmenu div, .ddmenu a { display: block; padding: 8px 15px; cursor: default; color: #222 !important; line-height: 1.4; }
.ddmenu div:hover { background: #eee; }
.ddmenu div.disabled, .ddmenu div.disabled:hover { color: #777; background: inherit; }
.ddmenu .right { float:right; }

#header .ddmenu { position: absolute; top: 58px; left: -5px; font-weight: normal; display: none; border: none; overflow-y: auto;  box-shadow: 2px 2px 6px #999, -2px 2px 6px #999; background: #444; padding:  0; min-width: 200px; z-index: 9999; }
#header .ddmenu div, #header .ddmenu a { display: block; padding: 5px 20px; cursor: pointer; color: #fff !important; line-height: 1.4; text-decoration: none; }
#header .ddmenu a:hover, #header .ddmenu div:hover { background: #777; text-decoration: none; }
#header .ddmenu a.disabled, #header .ddmenu a.disabled:hover { color: #777; background: inherit; }
#header .ddmenu .right { float:right; }

.fc-event {margin-right: 5px }
a.fc-event[href] { color: white; }
a.fc-event[href]:hover { text-decoration:underline; }
.fc-bgevent-container .fc-bgevent {border:1px solid black }
.fc-event.bigtop { border-top-width: 5px; }

@media screen and (max-width: 899px) {
    #content{ padding: 20px 10px; }
    #mainMenu{ padding: 10px ; }
    #container {min-width:inherit;width:inherit;position:inherit;}
    #header{width:inherit;height:auto;}
    #header #user-tools { }
    #header #user-tools > * {text-transform:none;}
    
    #header .ml { display: none!important; }
}

.datemark { padding: 4px 0; margin: -4px 0; text-align: center; font-size: 140%; width: 1.6em; display: inline-block; cursor: pointer; }
.datemark-yes { color: green; }
.datemark-yes:hover { color: #fff; background: green; }
.datemark-no { color: #bbbbbb; }
.datemark-no:hover { color: #fff; background: #884444 }

.prettyform .formgroup label { display: inline-block; min-width: 200px; text-align: right; padding-right: 1rem; }

.mobile-kiffel { position: relative; padding: 15px; border: 1px solid #444; border-radius: 3px; margin-bottom: 1rem; }
.mobile-kiffel .action { position: absolute; top: 5px; right: 15px; font-size: 4em; }
