
#mainMenu{background:#444;padding:10px 40px;color:#eee;min-height:20px;}
#mainMenu h2{ margin:0; }
#mainMenu a{color:#00ffff!important;font-weight:bold;}


.messageBar { position: fixed; top: 0; left: 0; right: 0; padding: 10px; background: #FDD835; color: white; font-size: 12pt; 
	    }
.progressBar { position: fixed; top: 0; left: 0; width: 30%; height: 5px; background: #0091EA;
	      animation: slide 5s forwards;
}
@keyframes slide {
    0% { width: 30%; }
    30% { width: 50%; }
    100% { width: 60%; }
}
.messageBar.error { background: #E53935;  }
.messageBar.success { background: #43a047;  }

#raumliste { position: absolute; background: #000; z-index: 9001; min-width: 200px; }
#raumliste a { display:block; margin: 0; padding: 5px; }
#raumliste a:hover { background: #555; }
#raumliste a.ed { float:right;font-weight:normal;display:inline; color:white;}

#unsched_aktermine { display: none; }
.mode_aktermin #unsched_aktermine { position: absolute; right:10px; width: 170px; display: block; }
#unsched_aktermine .fc-event { margin: 5px 0; }

.mode_aktermin .calendar_content { margin-right: 170px; }

.ddmenu { position: absolute; border: 1px solid #ddd; overflow-y: auto;  box-shadow: 1px 1px 6px #999; background: white; padding: 5px 0; min-width: 200px; z-index: 12; }
.ddmenu div { padding: 8px 15px; cursor: default; }
.ddmenu div:hover { background: #eee; }
.ddmenu div.disabled, .ddmenu div.disabled:hover { color: #777; background: inherit; }

.fc-event {margin-right: 5px }
a.fc-event[href] { color: white; }
a.fc-event[href]:hover { text-decoration:underline; }
.fc-bgevent-container .fc-bgevent {border:1px solid black }


@media screen and (max-width: 899px) {
    #content{ padding: 20px 10px; }
    #mainMenu{ padding: 10px ; }
}
    
    