{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}

<meta name="viewport" content="width=device-width,initial-scale=1.0" />

{% load static from staticfiles %}
<link rel=icon href="{% static 'kiffel/favicon.ico' %}">
<link rel=stylesheet href="{% static 'oplan/vendor/fullcalendar/dist/fullcalendar.css' %}">
<link rel=stylesheet href="{% static 'oplan/vendor/fullcalendar-scheduler/dist/scheduler.css' %}">

<script src="{% static 'oplan/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'oplan/helper.js' %}"></script>
<script src="{% static 'kiffel/kiffelhelper.js' %}"></script>
<link rel=stylesheet href="{% static 'oplan/styles.css' %}">
<link rel=stylesheet href="{% static 'frontend/vendor/font-awesome/css/font-awesome.css' %}">

{% block customstyle %}{% endblock %}

<script src="{% static 'oplan/vendor/moment/moment.js' %}"></script>
<script src="{% static 'oplan/vendor/fullcalendar/dist/fullcalendar.js' %}"></script>
<script src="{% static 'oplan/vendor/fullcalendar/dist/lang/de.js' %}"></script>
<script src="{% static 'oplan/vendor/fullcalendar-scheduler/dist/scheduler.js' %}"></script>
<script src="{% static 'oplan/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script>
oplan.is_staff = "{{user.is_staff}}";
</script>
<link rel="alternate" type="application/rss+xml"
   title="RSS" href="{% url 'neuigkeiten:list_rss' %}" />
{% endblock %}


{% block title %}{{ title }} | KIFPLAN{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="/"><i class="fa fa-bars mobile-only"></i><i class="fa fa-map mobile-hidden"></i>&nbsp;&nbsp;KIFPlan</a>
</h1>
{% endblock %}


{% block nav-global %}

    <a class="ml" href="{% url 'oplan:ak_wall' %}">AK-Wall</a>
    <a class="ml" href="{% url 'oplan:infoscreen' %}">Dashboard</a>

    <a class="ml menuddlink" href="{% if user.is_staff %}{% url 'admin:oplan_room_changelist' %}{%else%}{% url 'oplan:roomlist' %}{%endif%}" data-target="#raumliste">Räume</a>

    {% if user.is_staff %}
    <div class="ml menuddlink" data-target="#infopoint_dd">Infopoint
        <div id="infopoint_dd" class="ddmenu">
            <a href="{% url 'admin:kiffel_person_changelist' %}">Anmeldung</a>
            <a href="{% url 'kiffel:mobi' %}">mobile Anmeldung</a>
            <a href="/admin/eduroam/guestaccount/?vergeben__exact=0">eduroam</a>
            <a href="{% url 'admin:oplan_ak_changelist' %}">AKs bearbeiten</a>
        </div>
    </div>
    {% endif %}
    <div class="ml menuddlink" data-target="#tools_dd">Tools
        <div id="tools_dd" class="ddmenu">
            <a href="https://caroline.d120.de/schilder/">Schildergenerator  </a>
            <a href="https://www2.fachschaft.informatik.tu-darmstadt.de/engelsystem/">Engelsystem  </a>
            <a href="https://www2.fachschaft.informatik.tu-darmstadt.de/pad/">Pad Manager  </a>
            <a href="https://orga.fachschaften.org/projects/kif-orga-440/issues">Orga-Wiki  </a>
            <a href="https://www.fachschaft.informatik.tu-darmstadt.de/">d120.de </a>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="ml menuddlink" data-target="#admin_dd">Administration
        <div id="admin_dd" class="ddmenu">
            <a href="{% url 'admin:index' %}">Übersicht</a>
            <a href="{% url 'admin:neuigkeiten_beitrag_changelist' %}">Neuigkeiten</a>
            <a href="{% url 'admin:kiffel_person_changelist' %}">Personen</a>
            <a href="{% url 'admin:auth_group_changelist' %}">Gruppen</a>
            <a href="{% url 'admin:app_list' 'oplan' %}">Oplan</a>
            <a href="{% url 'admin:kdvadmin_kdvproduct_changelist' %}">KdV-Produkte</a>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block usertools %}
<div id="user-tools">
{% if user.is_authenticated %}
    {% block welcome-msg %}
        <strong class="uml">{% firstof user.get_short_name user.get_username %}</strong> 
    {% endblock %}
        {% if user.has_usable_password %}
        <a class="uml" href="{% url 'admin:password_change' %}" title="{% trans 'Change password' %}"><span class="fa fa-key"></span></a>
        {% endif %}
        <a class="uml" href="{% url 'mysite_logout' %}" title="{% trans 'Log out' %}"><span class="fa fa-sign-out"></span></a>
    
{% else %}
    <a href="{% url 'mysite_login' %}">{% trans 'Log in' %}</a>
{% endif %}
</div>
{% endblock %}



