{% extends 'oplan/header.html' %}

{% load plan_extra %}

{% block extrahead %}
{{block.super}}
<link rel="manifest" href="/static/oplan/manifest.json">
<script src="/static/oplan/pushnotify.js"></script>
<script>
oplan.current_ak_id = {{ak.id}};
</script>
{% endblock %}


{% block toolbar %}
<div>
    <button id="bookmark_btn" disabled>Als Interessant markieren</button>
    
    
    <button id="edit_btn" onclick="location='{% url 'admin:oplan_ak_change' ak.id %}'">Bearbeiten</button>
    
</div>
{% endblock %}


{% block content %}

<h1>{{ ak.titel }}</h1>

<p><b>Von: </b> {{ ak.leiter }}</p>
<p><b>Anzahl Menschen: </b> {{ ak.anzahl }}</p>
<p><b><a href="{{ ak.wiki_link }}">Dieser AK im KIF-Wiki</a></b></p>

<div class="padding-top-1"></div>
<p>{{ ak.beschreibung }}</p>

<div class="padding-top-1"></div>

<h3>Bedingungen Scheduling</h3>

<table class="table table-striped">
    <tr><td>Anzahl Interessierte</td><td>{{ ak.interesse }}</td></tr>
    <tr><td>Beamer?</td><td>{{ ak.beamer | vis_bool }}</td></tr>
    <tr><td>Tafel?</td><td>{{ ak.whiteboard | vis_bool }}</td></tr>
    <tr><td>Internet?</td><td>{{ ak.internet | vis_bool }}</td></tr>
    <tr><td>Reso?</td><td>{{ ak.reso | vis_bool }}</td></tr>
</table>


<h3>Wann und wo?</h3>
<ul>
{% for termin in ak.aktermin_set.all %}
<li>{{ termin.start_time }} in Raum {{ termin.room.number }}</li>
{% endfor %}
</ul>

{% endblock %}
