{% extends 'oplan/header.html' %}
{% block toolbar %}
Bulk Add Events to {% for room in rooms %} {{ room.number }}, {% endfor %}  

<input type="button" class="button default"  style="position:absolute;right:20px;margin-top:-26px;padding: 6px 16px;"
    onclick="document.theForm.submit()" value="Slots zu allen Räumen hinzufügen" />
{% endblock %}

{% block content %}
<div id="oplan">

<form action="" name="theForm" method="post" id="theForm">

{% csrf_token %}

    {{ bulk_form }}
    
    
    <div class="calendar_content">
        <div id='calendar'></div>
    </div>
    
    <input type="hidden" name="action" value="bulk_add_slots" />
    <input type="hidden" name="slots" id="input_slots" value="" />
    
    <input type="submit" name="apply" value="Slots zu allen Räumen hinzufügen" />
</form>
</div>

<script>

var mySlots = [];

$(document).ready(function() {

    // page is now ready, initialize the calendar...
    
    var id=0;
    $('#calendar').fullCalendar(calendarDefaultOptions({
        defaultView: 'agendaWeek',
        
        select: function(start, end) {
            mySlots[id] = ({id:id,start:start, end:end, title:'New Slot'});
            id++;
            $('#calendar').fullCalendar('refetchEvents');
            $('#calendar').fullCalendar('unselect');
        },
        eventResize: function(event) {
            mySlots[event.id] = event;
        },
        eventDrop: function(event) {
            mySlots[event.id] = event;
        },
        
        height: window.innerHeight-111,
        
        viewRender: function(view,el) {
            localStorage.calendarDate = view.start.toISOString();
        },
        events: function(start, end, timezone, callback) {
            callback(mySlots);
        },
        
        
        eventRender: function (event, element) {
            element.bind('contextmenu', function (jsEvent) {
                ShowContextMenu(jsEvent, {
                    'Löschen': function(){
                        for(var i in mySlots)
                            if (mySlots[i].id==event.id){
                                mySlots.splice(i, 1);
                                break;
                            }
                        $('#calendar').fullCalendar('refetchEvents');
                    }
                });
                return false;
            });
        }
        
        
    }));
    
    $("#theForm").submit(function() {
        var qq=mySlots.map(function(x) { return x.start.toISOString() + "=>" + x.end.toISOString() });
        $("#input_slots").val(qq.join("|"));
    });
    
});
</script>

{% endblock %}