{% extends 'oplan/header.html' %}
{% block content %}


<table>
{% for akt, oks, fails in out %}
<tr class="{% if fails %}r-fail{%else%}r-ok{% endif %}">
<th colspan=3>{% if fails %}<span class="fa fa-exclamation-circle"></span>{% else %}<span class="fa fa-check"></span>{% endif %}
{{akt}}
</th>
</tr>
{% for type,data,message in fails %}
<tr class="r-fail">
<td>{{ type }}</td><td>{{ message }}</td></tr>
{% endfor %}

{% for type,data,message in oks %}
<tr class="r-ok">
<td>{{ type }}</td><td>{{ message }}</td></tr>
{% endfor %}

{% endfor %}
</table>

<style>
.r-fail{background:#fff0f0; color: #770000;}
.r-ok {color: #668866;}
</style>

{% endblock %}