<!doctype html>
<meta charset="utf8">
<title>AK-Planungsmodul</title>

{% load static from staticfiles %}
<script src="{% static 'oplan/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'oplan/vendor/moment/moment.js' %}"></script>
<script src="{% static 'oplan/vendor/fullcalendar/dist/fullcalendar.js' %}"></script>
<link rel=stylesheet href="{% static 'oplan/vendor/fullcalendar/dist/fullcalendar.css' %}">
<style> html,body{margin:0;padding:0;font-family:Helvetica,sans-serif;font-size:10pt;}
#contents { padding:10px; } </style>

{% include "oplan/menu.html" %}
<div id=contents>
