<!doctype html>
<meta charset="utf8">
<title>AK-Planungsmodul</title>

{% load static from staticfiles %}
<script src="{% static 'oplan/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'oplan/vendor/moment/moment.js' %}"></script>
<script src="{% static 'oplan/vendor/fullcalendar/dist/fullcalendar.js' %}"></script>
<link rel=stylesheet href="{% static 'oplan/vendor/fullcalendar/dist/fullcalendar.css' %}">
<link rel=stylesheet href="{% static 'admin/css/base.css' %}">

{% include "oplan/menu.html" %}
<div id=content>
