{% extends 'oplan/header.html' %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post">
{% csrf_token %}
<p>{{ form.username.label_tag }}
    {{ form.username }}</p>


    <p>{{ form.password.label_tag }}
    {{ form.password }}</p>
<p>
<input type="submit" value="Anmelden" /></p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
<br>
<p><a href="{% url 'password_reset' %}"><b>Falls du noch kein Passwort hast</b>, oder dein Passwort vergessen hast, 
klicke hier, um es per Mail zurückzusetzen.</a></p>

<script> $("#id_username").focus() </script>
<style>
label {display:block;font-weight:bold;padding: 2px 0 5px;}
#id_username,#id_password{width:90%;max-width:300px;}
</style>
{% endblock %}
