
{% load static from staticfiles %}
<script src="{% static 'oplan/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'oplan/helper.js' %}"></script>
<link rel=stylesheet href="{% static 'oplan/styles.css' %}">

<div id="mainMenu">
<div style="float:right">
| <a href="{% url 'oplan:ak_wall' %}">AK-Wall</a>
| <a href="{% url 'oplan:infoscreen' %}">Dashboard</a>
| <a href="{% url 'admin:oplan_room_changelist' %}" id="raumliste_lnk">Raumliste</a>
| <a href="{% url 'admin:oplan_ak_changelist' %}">AK-Liste</a>
|{% if user.is_authenticated %}
<a href="{% url 'admin:app_list' 'oplan' %}">Administration</a> |
    Hi {{ user.nickname }} | <a href="{% url 'mysite_logout' %}">Log Out</a>
{% else %}
    <a href="{% url 'mysite_login' %}">Log In</a>
{% endif %}

|
</div>
<h2>{{titel|default:"AK-Planungsmodul"}}</h2>
</div>

