{% extends 'oplan/header.html' %}
{% block content %}
<div id="oplan">

    <div class="toolbar">
    <input type="radio" name="modus" id="mode_slots"><label for="mode_slots"> Slots</label>
    <input type="radio" name="modus" id="mode_availability"><label for="mode_availability"> Verfügbarkeit</label>
    <input type="radio" name="modus" id="mode_aktermin"><label for="mode_aktermin"> AKs / Termine</label>
    <input type="radio" name="modus" id="mode_akreadonly"><label for="mode_akreadonly"> AKs readonly</label>

    </div>
    
    
    <div id="unsched_aktermine"></div>
    <div class="calendar_content">
        <div id='calendar'></div>
    </div>
</div>

<script>
var room_id = {{ room.id }};

$("[name=modus]").click(function() {
    setMode($(this).attr("id").substr(5));
});
function setMode(mode) {
    oplan.mode = mode;
    localStorage.calendarMode = mode;
    $("#mode_"+mode).attr("checked",true);
    $("#calendar").fullCalendar( 'refetchEvents' );
    $("#oplan").attr("class", "mode_"+mode);
    if (mode == "aktermin") {
        oplan.api.loadUnschedAkTermine();
    }
    
}


function onEventDropped(event) {
    console.log(event);
    event.resourceId = room_id;
    oplan.api.saveAkTermin(event);
}


$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar(calendarDefaultOptions({
        defaultView: 'agendaWeek',
        
        eventDrop: oplan.api.onCalendarEventChange,
        eventResize: oplan.api.onCalendarEventChange,
        eventReceive: onEventDropped,
        
        select: function(start, end) {
            oplan.api.createRoomAvailability(start, end, room_id);
        },
        
        height: window.innerHeight-111,
        
        viewRender: function(view,el) {
            localStorage.calendarDate = view.start.toISOString();
        },
        events: function(start, end, timezone, callback) {
            oplan.api.loadCalendarEvents(start, end, room_id, callback);
        },
        
        eventRender: function (event, element) {
            element.bind('contextmenu', function (jsEvent) {
                var menu = getEventContextMenu(event, jsEvent);
                
                ShowContextMenu(jsEvent, menu);
                return false;
            });
        }
        
        
    }));
    
    
    setMode(localStorage.calendarMode ? localStorage.calendarMode : "akreadonly");
    
});
</script>

{% endblock %}