{% extends 'admin/base_site.html' %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<h3>Moin moin</h3>
</div>
{% endblock %}

{% block content %}
<ul>
<li><a href="{% url 'oplan:ak_wall' %}">AK-Wall (Kalender)</a></li>
<li><a href="{% url 'admin:kiffel_person_changelist' %}">Infopoint: Anmeldung  </a></li>
<li><a href="{% url 'admin:eduroam_guestaccount_changelist' %}">Infopoint: eduroam-Gastaccounts  </a></li>
<li><a href="https://caroline.d120.de/schilder/">Schildergenerator  </a></li>
<li><a href="https://www2.fachschaft.informatik.tu-darmstadt.de/engelsystem/">Engelsystem  </a></li>
<li><a href="https://www2.fachschaft.informatik.tu-darmstadt.de/pad/">Pad Manager  </a></li>
<li><a href="https://orga.fachschaften.org/projects/kif-orga-440/issues">Orga-Wiki  </a></li>
<li><a href="https://www.fachschaft.informatik.tu-darmstadt.de/">d120.de </a></li>
</ul>
{% endblock %}
